.table-of-content {
  max-width: 33%;
  border: 1px solid rgba($color: #fff, $alpha: 0.25);
  border-radius: 5px;
  color: #fff;
  align-self: flex-start;

  .movie-preview {
    background-color: rgba($color: #fff, $alpha: 0.25);
    padding: 10px;
    margin: 30px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.35);
    }

    & .title {
      margin: 5px 0;
    }

    .heart {
      margin-left: 20px;
      color: #ddd;
    }

    .favorite {
      color: #ff414d;
    }
  }
}

@media (max-width: 550px) {
  .table-of-content {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
